version: '3.3'
services:
  mongo:
    image: mongo:latest
    container_name: mongo-service
    ports:
      - "27017:27017"
    volumes:
      - mongo-db:/data/db
  
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/todoapp
    depends_on:
      - mongo
  
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "803:80"
    depends_on:
      - backend

volumes:
  mongo-db: